# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/tmp
/out-tsc
/.github
/.husky
/.vscode
/apps
/libs
/services
/tools
.editorconfig
.prettierignore
.prettierignore
.prettierignore
.prettierrc
.eslintrc.json
docker-compose.yaml
jest.config.js
jest.preset.js
LICENSE
nx.json
package-lock.json
plugins.js
README.md
serverless.base.ts
tsconfig.base.json
workspace.json

# dependencies
/node_modules

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings

# System Files
.DS_Store
Thumbs.db

.serverless
.vscode
.dynamodb
.webpack
.esbuild
